@model DatabaseConnectie.Models.UserEditViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentUsername)
        @Html.EditorFor(model => model.CurrentUsername, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewUsername)
        @Html.EditorFor(model => model.NewUsername, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NewUsername, "", new { @class = "text-danger" })
    </div>

    <input type="hidden" name="id" value="@Model.UserId" />

    <button type="submit" class="btn btn-primary">Save Changes</button>
}

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial").Result;
}